.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.line-clamp-1 {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}